

.imgFuture {
    width: 100%;
    height: 100%;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    color: white;
}

.control:hover {
    color: gray;
}

/* product */
.product {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cart {
    width: 23%;
    height: 350px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid;
    border-radius: 7px;
    position: relative;
    font-weight: bold;
    margin: 20px 10px;
    box-shadow: 5px 5px 12px #33333394;
}

.control:hover {
    cursor: pointer;
    opacity: .7;
}

.cart-icon {
    right: 20px;
}

.cart-img {
    width: 30%;
    height: 40%;
    margin: 0 auto;
    -webkit-transition: all 2s ease;
   -moz-transition: all 2s ease;
   -ms-transition: all 2s ease;
   transition: all 2s ease;
}

.cart-img img {
    height: 95%;
    transition: 0.8s;
    width: 100%;
}

.cart-title {
    color: #236AB3;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    transition: 0.5s;
}

.cart-price {
    color: #ff1010de;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    text-align: center;
    transition: 0.5s;
    margin: 10px;
}

.cart-action {
    margin-top: 100px;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.cart-action button {
    padding: 10px 20px;
    border: none;
    /* outline: none; */
    border-radius: 10px;
    cursor: pointer;
    margin-right: -3%;
    margin-top: 2%;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #236AB3;
    transition: 0.3s;
}

/* hover */
.cart-action button:hover {
    background-color: #18528e;
    transform: scale(0.9);
}

.cart:hover img {
    transform: scale(1.5);
    /* transition: 0.5s all ease;
    transform: translateY(-50px) rotate(-30deg); */
}

/* .cart:hover .cart-title {
    transform: translate(-80px, -30px);
}

.cart:hover .cart-price {
    transform: translate(-110px, -25px);

} */

.cart:hover .cart-action {
    margin-top: -10px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}



@media screen and (min-width: 769px) {
    .cart {
        width: 23%;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {}

@media only screen and (max-device-width: 480px) {
    /* STYLES HERE */

}